.lost {
    display: flex;
    flex-direction: column;
}
.blok1 {
    background: #19021e;
    height: 300px;
}
.blok2 {
    background: #9a9999;
    height: 500px;
}
.blok3 {
    background: #19021e;
    height: 200px;
}
.blok4 {
    background: #9a9999;
    height: 100px;
}
.box1 {
    background: black;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    /*padding: 25px;*/
    margin: 25px;
}