.header {
    background: #123f57;
    height: 130px;
    font-size: 30px;
}
.nav {
    background: #5990d3;
    height: 100px;
    font-size: 30px;
}
.block {
    display: flex;
}
.target1 {
    background: #123f57;
    height: 400px;
    font-size: 30px;
    width: 100px;
    flex-grow: 3;
}

.target2 {
    background: #543540;
    height: 400px;
    font-size: 30px;
    width: 100px;
    flex-grow: 1;
}
.footer {
    background: #efe59e;
    height: 100px;
    font-size: 30px;
}