.window {
    width: 550px;
    display: flex;
    flex-wrap: wrap;

}

.block {
    width: 240px;
    height: 200px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}